body {
    background:greenyellow
}

#banner {
    width: 100%;

}

.principal {
    background: #fffb00;
    padding: 30px;
}

.título-centralizado{
    color: peachpuff; background:brown;
    text-align: center;
}

.título-principal {
    padding-left: 20px;
}
p {
    text-align:center;
    font-size: 20px;
}

#missao {
    font-size: 20px
}

em strong {
    color: rgb(0, 255, 0);
}

.itens {
    font-style: italic;
}

.beneficios {
    background: lightskyblue;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}